    <% include parziale/head %>


      <section class="background-image-home border-red" id="search-background">
        <header class="container"  id="search">
          <div class="row">
            <div class="col-sm-12" id="search-title">
              <h1>Scopri Verona e provincia su 2 ruote</h1>
            </div>
            <div class="col-sm-12" id="search-field">
              <form method="get" action="/cerca">
               <div id="search-field-group">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  <input name="q" type="text" autocomplete="off" placeholder="Inserisci una parola o location" size="40" pattern=".{3,}" tabindex="1"  required />
                  <!-- suggerimenti -->
                <!--  <% if (searchStoryObj != null) {%>
                  <div id="tips" class="border-red" style="display:none">
                    <h6>ultime ricerche</h6>
                    <ul>
                      <% searchStoryObj.forEach(function category(story) {%>
                      <li><a href="/cerca?q=<%= story["ricerca"]%>" tabindex="2"><%= story["ricerca"]%></a></li>
                      <% }) %>
                    </ul>
                  </div>
                  <% } %>-->

                </div>
                <input type="submit" value="cerca percorso" tabindex="11">
                <div id="search-advanced-view">
                  <a href="#" tabindex="5"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></a>
                 <!-- ricerca avanzata opzioni *larghezza da calcolare in javascript*-->
                    <div id="search-advanced-options" class="row background-red hidden" >
                        <div class="col-sm-4">
                          <h6>Caratteristiche</h6>
                          <label for="lung">lunghezza max.</label><input type="text" name="lung" id="lung" tabindex="6" placeholder="Km" pattern="[0-9]+{0,3}" maxlength="3"/><br/>
                          <label for="pend">pendenza max.</label><input type="text" name="pend" id="pend" tabindex="7" placeholder="%" pattern="[0-9]+{0,3}" maxlength="3"  /><br/>

                        </div>
                        <div class="col-sm-4">
                          <label for="type">tipo di strada</label><select name="type" id="type" tabindex="8">
                                                                    <option value="0">tutte</option>
                                                                    <option value="1">asfalto</option>
                                                                    <option value="2">terra</option>
                                                                    <option value="3">ghiaia</option>
                                                                    <option value="4">misto</option>
                                                                  </select><br/>
                          <label for="diff">difficoltà</label><select id="diff" name="diff" tabindex="9">
                                                                    <option value="0">tutte</option>
                                                                    <option value="1">*</option>
                                                                    <option value="2">**</option>
                                                                    <option value="3">***</option>
                                                                  </select><br/>
                        </div>
                       <div class="col-sm-4">
                      <!--    <h6>Categorie</h6>
                          <% var tabindex = 12; categoryObj.forEach(function category(obj) {%>
                          <label><input type="checkbox" name="cat" value="<%=obj._id%>" tabindex="<%= tabindex %>" /> <%=obj.title%></label><br />
                          <% tabindex++ }) %>-->
                          <label><input type="checkbox" name="bambini" value="1" tabindex="10"  />adatto ai bambini</label><br/>

                        </div>
                    </div>
                    <!-- fine search -->
                  </div>
              </form>
            </div>
          </div>
        </header>
      </section>

      <% if (highlightObj != null) {%>
          <div class="background-yellow">
              <section class="container" id="evidenza">
                <header class="col-sm-12">
                  <h2>In evidenza</h2>
                </header>

                  <% var tabindex = 12; highlightObj.forEach(function hightlight(hObj) {%>
                <article class="col-sm-4 percorso highlight" data-lat="<%= hObj['coordinates'][0][0]%>" data-lng="<%= hObj['coordinates'][0][1]%>">
                  <a href="/<%= hObj['categoria'][0]['_id'] + '/' + hObj['_id'] %>"  tabindex="<%= tabindex %>">
                    <h3><%= hObj['scheda']['title'] %></h3>
                      <section>
                        <div class="row">
                          <div class="col-md-9"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= hObj['scheda']['txt_start'] %></div>
                          <div class="lunghezza col-md-3"><strong><%= hObj['scheda']['lunghezza'] %> Km</strong></div>
                        </div>
                          <div class="row dettagli">
                            <div class="col-md-6">Difficoltà <% for (var i=1;i<4;i++) {%><span <% if (i<=hObj['scheda']['difficolta']) {%>class="full"<%}; %>></span><%};%></div>
                            <div class="col-md-6">Tempo <strong>0:00:00</strong></div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">Pendenza <strong><%= hObj['scheda']['pendenza'] %>%</strong></div>
                            <div class="col-md-6">Strada <strong><%= hObj['scheda']['strada'] %></strong></div>
                          </div>
                        <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <%= hObj['categoria'][0]['title'] %></p>
                    </section>
                  </a>
                </article>
                <% tabindex++ });  %>
              </section>
          </div>
      <% } %>


      <main class="container" id="percorsi">
        <div class="row">
          <header class="col-sm-12">
              <h2>Percorsi</h2>
            </header>
        </div>

        <% categoryObj.forEach(function category(obj) {%>
            <article class="row">
              <div class="col-sm-4" >
               <header  style="background-image:url('/images/<%= obj['image']%>')">
                 <a href="/<%= obj._id %>" tabindex="<%= tabindex %>">
                   <h3><%= obj.title %></h3>
                    <div><strong>vedi tutti</strong> i percorsi <strong><%= obj['_id'] %></strong></div>
                  </a>
                </header>
              </div>
              <% tabindex++; obj['percorsi'].forEach(function percorsi(objPercorso) {%>
                <article class="col-sm-4 percorso" data-lat="<%= objPercorso['coordinates'][0][0]%>" data-lng="<%= objPercorso['coordinates'][0][1]%>" >
                  <a href="/<%= objPercorso['scheda']['_idcategory'] + '/' + objPercorso['_id'] %>" tabindex="<%= tabindex %>">
                    <h4><%= objPercorso['scheda']['title'] %></h4>
                      <section>
                        <div class="row">
                          <div class="col-md-9"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= objPercorso['scheda']['txt_start'] %></div>
                          <div class="lunghezza col-md-3"><strong><%= objPercorso['scheda']['lunghezza'] %> Km</strong></div>
                        </div>
                          <div class="row dettagli">
                            <div class="col-md-6">Difficoltà <% for (var i=1;i<4;i++) {%><span <% if (i<=objPercorso['scheda']['difficolta']) {%>class="full"<%}; %>></span><%};%></div>
                            <div class="col-md-6">Tempo <strong>0:00:00</strong></div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">Pendenza <strong><%= objPercorso['scheda']['pendenza'] %>%</strong></div>
                            <div class="col-md-6">Strada <strong><%= objPercorso['scheda']['strada'] %></strong></div>
                          </div>
                        <p><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <%= obj['title'] %></p>
                    </section>
                  </a>
                </article>
              <% tabindex++ });%>
        </article>
        <%  }); %>


        <!-- pubblicità -->

      <% if (annunciObj!= null) { %>
        <aside class="row" id="adv">
          <header class="col-md-12">
              <h5>Annunci</h5>
          </header>
          <% annunciObj.forEach(function annunci(aObj) {%>
            <div class="col-sm-4">
              <a href="/annunci/<%= aObj['_id']%>" >
                <h6><%= aObj['title']%></h6>
                <p><%= aObj['text']%></p>
                <p class="link"><%= aObj['dominiovisualizzato'] %></p>
              </a>
            </div>
            <%  }); %>
        </aside>
        <% }%>

      </main>

      <div class="container-fluid">
        <section class="row">
          <div class="col-md-12" style="padding: 0px; width:100%; height:500px;" id="map">

          </div>
        </section>
      </div>

    <% include parziale/footer %>

  <!-- inserire google analytics e jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHISEgt5-1Z6cK7pyntyeQ9ffd3TJa11k&callback=initMapHome"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/bikeaway.js"></script>
  <script>
	$('document').ready(init);

	function init() {
		initCookie();
    initLarghezzaSearch();
	}

  </script>
  </body>
</html>
